/*
    Project: Canvas Express V1
    Last Modified: 2025-10-17
    Author: Maxim (www.maxim.pe.kr)
 */
:root {
    --canvas-rgb: 150, 200, 250;
}

.logo-title {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-shadow: 0 0 20px var(--accent-color);
    color: var(--text-color);
}

.logo-subtitle {
    margin-left: 0.05rem;
    letter-spacing: 0.05rem;
}

